- const SITE_NAME = ''
//- ------------------------------------
//- include local variables
//-
block variables

//- ------------------------------------
//- mixins
//-
include ./_mixins

doctype html
html
  head
    meta(charset="utf-8")
    if typeof DESCRIPTION !== 'undefined'
      meta(name='description', content=DESCRIPTION)
    if typeof KEYWORDS !== 'undefined'
      meta(name='keywords', content=KEYWORDS)
    //-================ TITLE ================-//
    title= TITLE

    //-================ FAVICON ICON ================-//
    link(rel='shortcut icon' href="/img/share/favicon.ico")

    //-================ VIEW PORT ================-//
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //-================ FORMAT DETECTION ================-//
    meta(name='format-detection', content='telephone=no')

    meta(property='og:title', content=(OG_TITLE || TITLE))
    if typeof OG_SITE_NAME !== 'undefined' || typeof SITE_NAME !== 'undefined'
      meta(property='og:site_name', content=(OG_SITE_NAME || SITE_NAME))
    if typeof OG_DESCRIPTION !== 'undefined' || typeof DESCRIPTION !== 'undefined'
      meta(property='og:description', content=(OG_DESCRIPTION || DESCRIPTION))
    if typeof OG_TYPE !== 'undefined'
      meta(property='og:type', content=OG_TYPE)
    if typeof OG_URL !== 'undefined'
      meta(property='og:url', content=OG_URL)
    if typeof OG_IMAGE !== 'undefined'
      meta(property='og:image', content=OG_IMAGE)

    //-  STYLE
    +absoluteStyle('/css/share.css')
    block style

    //- SCRIPT
    +script('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    +script('/js/share.js')
    block scripts

  block body
    body
      .main
        header.main_header
          include ../_partials/_header
        .main_body
          .main_content(class=(typeof CONTENT_FULL_WIDTH !== 'undefined' && 'o-full'))
            block content
        footer.main_footer
          include ../_partials/_footer

